# Caso 1

In [87]:
import pandas as pd
import numpy as np
import pickle as pkl

from IPython.display import IFrame, display

FULL = 185101+1
df   = pd.DataFrame(columns=['VARIABLES',
                             'Depth',
                             'uncertain',
                             'F',
                             'O',
                             'Temperatur',
                             'uncertain',
                             'F',
                             'O',
                             'Salinity',
                             'uncertain',
                             'F',
                             'O',
                             'Pressure',
                             'uncertain'])

for i in range(2, 5000):
    CSV = list()
    filename = open('../../../Dropbox-heavy-stuff/tmp-csv/data_{}.csv'.format(i), 'r')
    f        = filename.readlines()
    filename.close()

    VAR_INDEX   = 0
    VAR_START   = 0
    ID_INDEX    = 0
    LAT_INDEX   = 0
    LON_INDEX   = 0
    YEAR_INDEX  = 0
    MONTH_INDEX = 0
    DAY_INDEX   = 0

    for j,v in enumerate(f):
        if 'Temperatur' in v:
            VAR_INDEX = j
        if 'Prof-Flag' in v:
            VAR_START = j+1 
        if 'CAST' in v:
            ID_INDEX = j
        if 'Latitude' in v:
            LAT_INDEX = j
        if 'Longitude' in v:
            LON_INDEX = j
        if 'Year' in v:
            YEAR_INDEX = j
        if 'Month' in v:
            MONTH_INDEX = j
        if 'Day' in v:
            DAY_INDEX = j

    ID    = f[ID_INDEX].split(',')[2].replace(' ', '')
    LAT   = f[LAT_INDEX].split(',')[2].replace(' ', '')
    LON   = f[LON_INDEX].split(',')[2].replace(' ', '')
    YEAR  = f[YEAR_INDEX].split(',')[2].replace(' ', '')
    MONTH = f[MONTH_INDEX].split(',')[2].replace(' ', '')
    DAY   = f[DAY_INDEX].split(',')[2].replace(' ', '')
    FILENAME = '{}_{}_{}_{}_{}_{}'.format(ID, YEAR, MONTH, DAY, LAT, LON)

    header = '# ,' + f[VAR_INDEX]
    header = header.replace(' ', '').replace('VARIABLES ,', '')
    header = header.rstrip().split(',')[1:-4]
    
    for line in f[VAR_START:]:
        if 'END' not in line:
            CSV.append(line.rstrip().split(',')[:-3])
            
    
    try:
    	_df = pd.DataFrame(CSV, columns=header)
    except:
    	print(FILENAME)

    try:
        df = df.append(_df, ignore_index=True)
    except:
        print(FILENAME)

df = df.replace('   ---0---', np.nan)    
df['Depth'] = df['Depth'].astype(float)
df['Temperatur'] = df['Temperatur'].astype(float)
df['Salinity'] = df['Salinity'].astype(float)
df['Pressure'] = df['Pressure'].astype(float)

df.to_csv('../../../Dropbox-heavy-stuff/csv/FINAL_1.csv')
pkl.dump(df, open('../../../Dropbox-heavy-stuff/csv/FINAL_1.p', 'wb'))

6489603_1911_8_18_43.767_13.783
6489604_1911_8_18_43.850_14.000
6489629_1911_8_20_41.433_17.067
6490151_1912_8_16_40.283_18.850
6490181_1912_8_18_41.983_17.500
6490184_1912_8_18_41.450_17.033
6490179_1912_8_18_41.850_17.350
6490227_1912_8_20_45.800_13.683
6490249_1912_8_21_45.267_13.000
6490284_1912_11_19_40.383_19.133
6490289_1912_11_19_40.333_18.833
6490308_1912_11_27_42.333_17.733
6490377_1913_3_4_41.900_17.483
6490374_1913_3_4_41.767_17.317
6490381_1913_3_5_42.067_17.650
6490394_1913_3_8_41.267_18.183
6490393_1913_3_8_41.267_18.683
6490405_1913_3_9_40.933_18.117
6490630_1913_8_16_45.167_13.367
6490660_1913_8_17_44.067_14.633
6490661_1913_8_17_43.767_13.800
6490662_1913_8_17_43.850_14.017
6490658_1913_8_17_43.900_14.217
6490650_1913_8_17_45.000_14.433
6490679_1913_8_19_42.150_17.600
6490682_1913_8_19_41.867_17.333
6490699_1913_8_20_41.733_17.200
6490712_1913_8_22_40.267_18.700
6490855_1913_11_22_43.950_14.283
6490852_1913_11_22_43.783_13.900
6490884_1913_11_24_42.000_17.567
6490885_1913_11_24_41.733_17.350
6490976_1914_2_17_43.733_13.800
6491036_1914_2_21_41.917_17.767
6491041_1914_2_21_41.267_17.067
6491043_1914_2_21_41.767_17.667
6491050_1914_2_22_45.367_12.667
6495087_1922_7_7_36.117_-5.417
6495093_1922_7_8_36.117_-5.417
6495091_1922_7_8_36.117_-5.417
6496456_1923_4_19_38.250_15.633

- - -

# Teste

In [2]:
import pandas as pd
import numpy as np
import pickle as pkl
# df1 = pkl.load(open('../../../Dropbox-heavy-stuff/csv/FINAL_1.p', 'rb'))
df1 = pd.read_csv('../../../Dropbox-heavy-stuff/csv/FINAL_10.csv')

In [3]:
df1.head()

,Unnamed: 0,VARIABLES,Depth,uncertain,F,O,Temperatur,uncertain.1,F.1,O.1,...,ID,LAT,LON,YEAR,MONTH,DAY,depth_u,temp_u,salt_u,press_u
0,0,1,8.85,0.0071,0,2,27.7126,0.01,0,2,...,8083123,8.06,-110.0617,1995,8,8,m,degreesC,PSS,dbar
1,1,2,74.17,0.0593,0,2,19.0652,0.01,0,2,...,8083123,8.06,-110.0617,1995,8,8,m,degreesC,PSS,dbar
2,2,3,149.01,0.1192,0,2,12.6883,0.01,0,2,...,8083123,8.06,-110.0617,1995,8,8,m,degreesC,PSS,dbar
3,3,4,296.12,0.2369,0,2,10.6290,0.01,0,2,...,8083123,8.06,-110.0617,1995,8,8,m,degreesC,PSS,dbar
4,4,5,496.20,0.3970,0,2,8.5412,0.01,0,2,...,8083123,8.06,-110.0617,1995,8,8,m,degreesC,PSS,dbar